<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("layouts/headTemplate") -%>
  <link rel="stylesheet" href="../public/css/blogs.css" />
  
  <title>Viraj - Blogs</title>
  
  <style>
    .blogCard a {
      text-decoration: none
    }
  </style>
  
</head>
<!-- In the nav tag we already have a navbar class why do we have to put same id? -->
<body data-bs-theme="black" class="sections" style="overflow-x: hidden">
  <div id="">
    <a class="row d-block" href="/" id="logo2">Viraj Doshi</a>
    <div class="container" style="margin-top: 100px;">
      <h1 class="section-title">Blogs</h1>

      <div>
        <% allBlogs.forEach(blog => { %>
          <div class="blogCard clickable-card">
            <a style="color: white; text-decoration: none;" href="/blogs/<%= blog.slug %>" >
              <div class="row justify-content-between" style="margin-bottom: 8px">
                <h4 class="col focus"><%- blog.blogTitle %></h4>
                <p class="col-auto" style="font-size: 12px; color: grey;"><%- blog.date.toLocaleDateString() %></p>
              </div>
              <p><%- blog.blogDes %></p>
              <div style="margin: 14px 0 6px 0" class="row">
                <% blog.tags.forEach(tag => { %>
                  <div class="col-auto tags">
                    <%- tag %>
                  </div>
                <% }) %>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
        <!-- <div class="blogCard">
          <div class="row justify-content-between" style="margin-bottom: 8px">
            <u>
              <a href="/blogs/white-people-can-talk-to-anyone"><h4 class="col-auto focus">White people can talk to anyone</h4></a>
            </u>
            <p class="col-auto">June 4th 2023</p>
          </div>
          <p>
            This blog discusses my experience with how white people talk and how
            they can talk to anyone and keep the conversation going.
          </p>
          <p style="font-size: 12px; word-spacing: 5px;">Node.js  MongoDB  JavaScript  HTML/CSS</p>
        </div>
        <div class="blogCard">
          <div class="row justify-content-between" style="margin-bottom: 8px">
            <h4 class="col-auto focus">Womens Safety App</h4>
            <p class="col-auto">2020</p>
          </div>
          <p>
            A flutter app which lets users add emergency contacts. The user
            can then double press volumn button to send a message including
            their exact location to their emergency contacts without the need
            to open the app.
          </p>
          <p style="font-size: 12px; word-spacing: 5px;">Flutter  Android  iOS  VS-Code</p>
        </div>
        <div class="blogCard">
          <div class="row justify-content-between" style="margin-bottom: 8px">
            <h4 class="col-auto focus">LinkTree Clone</h4>
            <p class="col-auto">2020</p>
          </div>
          <p>
            A web based LinkTree Clone. LinkTree is a website that allows users
            to bring all of their links in a single location on the web. Links
            could include their social media handles, personal websites or basically
            any link they want.
          </p>
          <p style="font-size: 12px; word-spacing: 5px;">Node.js  MongoDB  JavaScript  HTML/CSS</p>
        </div>
        <div class="blogCard">
          <div class="row justify-content-between" style="margin-bottom: 8px">
            <h4 class="col-auto focus">Google Forms Clone</h4>
            <p class="col-auto">2020</p>
          </div>
          <p>
            A web based google form clone that allows users to make questions with single and multiple
            type answers along with text answers. The user who created the form can view all the
            responses in a seperate page like in google forms
          </p>
          <p style="font-size: 12px; word-spacing: 5px;">Node.js  MongoDB  JavaScript  HTML/CSS</p>
        </div> -->
      </div>
    </div>
  </div>
  <button class="btn btn-floating" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
  <script src="../js/utilities.js"></script>
  <script>
    window.onload = function() {
      // if you want to remove loader on load then uncomment below line
      // document.getElementById("loader-wrapper").style.display = "none";
      // setTimeout(() => {
      //   document.getElementById("loader-wrapper").style.display = "none";
      // }, 1900)
      updateColor();
      // var theme = document.getElementById("flexSwitchCheckDefault");
      var blogCard = document.getElementsByClassName("blogCard");
      if(getCookie("mode") == 1) {
        // whiteout();
        document.documentElement.style.setProperty("--secondary", "#ffffff");
        document.getElementsByTagName("body")[0].setAttribute('data-bs-theme', 'white');
        for (let i = 0; i < blogCard.length; i++) {
          blogCard[i].style.backgroundColor = "#dcdcdc"
        }
        // setCookie("mode", 1);
        // theme.checked = false;
      } else if (getCookie("mode") == 0) {
        // blackout();
        document.documentElement.style.setProperty("--secondary", "#000000");
        document.getElementsByTagName("body")[0].setAttribute('data-bs-theme', 'black');
        for (let i = 0; i < blogCard.length; i++) {
          blogCard[i].style.backgroundColor = "#232323"
        }
        // setCookie("mode", 0)
        // theme.checked = true;
      }
    }
  </script>
</body>
</html>