<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("layouts/headTemplate") -%>
  <link rel="stylesheet" href="../public/css/createBlog.css" />
  
  <title>Viraj Doshi Blogs</title>
</head>
  
<!-- In the nav tag we already have a navbar class why do we have to put same id? -->
<body data-bs-theme="black" class="sections" style="overflow-x: hidden">
  <div id="">
    <a class="row d-block" href="/" id="logo2">Viraj Doshi</a>
    <div class="container" style="margin-top: 100px;">
      <h1 style="justify-content: center;" class="section-title"><%- blog.blogTitle %></h1>
      <div class="row">
        <p class="col" style="color: var(--primary)"><%- blog.author %></p>
        <p class="col-auto mb-2" style="color: grey; font-size: 12px;"><%- blog.date.toLocaleDateString() %></p>
      </div>
      
      <div id="blog-content">
        <%- blog.blogContent %>
      </div>
    </div>
  </div>
  <button class="btn btn-floating" id="btn-back-to-top"><i class="fas fa-arrow-up"></i></button>
  <script src="../js/utilities.js"></script>
</body>
</html>